{
    # Désactive l’admin UI et permet d’afficher les debug si besoin
    admin off
    debug
}

{$DOMAIN_CLOUD} {
    # Compression gzip
    encode gzip

    # HTTPS automatique via Let's Encrypt
    # (pas besoin de bloc tls vide ou d’email si vous le souhaitez)
    # Caddy activera HTTPS par défaut pour un nom de domaine
    # tls {
    # }

    # Proxy vers votre service Nextcloud nommé "app" dans docker-compose
    reverse_proxy app:80

    # Logs en console
    log {
        output stdout
        format console
    }
}
